*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
}

.formulario-contedor {
    width: 500px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -10000000px;
    top: auto;
    overflow: hidden;
}

h1,
h2,
h3 {
    color: #333;
    margin: 8px 0;
}

button {
    padding: 5px 15px;
    min-width: 60px;
    cursor: pointer;
    border: 0.5px solid gray;
    border-radius: 10px;
    box-shadow: inset 0 0 5px gray;
}

button:hover,
button:focus,
button:active {
    background-color: #ddd;
}


form {
    display: block;
    margin: 10px 0 20px 0;
    font-size: 15px;
    color: #777;
    width: 100%;
    text-align: center;

    button[type='submit'] {
        font-weight: bold;
    }

    label {
        display: block;
        margin: 8px 0;
        font-size: 15px;
        color: #777;
        width: 100%;
    }

    input {
        display: block;
        width: calc(100% - 20px);
        padding: 0% 10px 5px 10px;
        margin-top: 5px;
        border: 0.5px solid #bbb;
        border-radius: 5px;
        box-shadow: inset 0 0 5px #bbb;
        font-size: 15px;
        font-weight: bold;
    }

    h1 {
        margin: -5px 0 0 0;
        padding-top: 10px;
    }

    span:has(> button) {
        padding-top: 15px;
    }
}

span:has(> button) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    gap: 10px;
}

section {

    padding: 10px;
    margin: 10px 5px;
    background-color: #fff;
    border: 0.5px solid #bbb;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #bbb;
}

.error {
    color: rgb(255, 81, 81);
}

.escondido{
    display: none;
}